.summary-container <span>Summary:</span> Kyousuke's smart, cute, but bratty younger sister hates him. While they used to get along when they were very young, over the years they grew more and more distant until finally they stopped talking altogether, doing their best to ignore each others' existences. One afternoon Kyousuke finds an anime DVD case he doesn't recognize, which hid a very inappropriate ero-game. The owner of this perverted game? Kyousuke's seemingly perfect little sister! Turns out that while she might be a perfect student, athlete, and even a professional model, she's actually also a hardcore otaku with an obsession with little sisters, and she wants him to help her hide her double life from their strict family and her non-geeky friends. What else are siblings for, after all?






































