.info-container
	.info-detail <span>Titles:</span> Bunny Drop , Usagi Drop , うさぎドロップ

	.info-detail <span>Episodes:</span> 11 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span> Jul 8, 2011 to Sep 16, 2011

	.info-detail <span>Premiered:</span> Summer 2011

	.info-detail <span>Studios:</span> Production I.G

	.info-detail <span>Genres:</span> Josei, Slice of Life


























