header
	a(href="../../../01 html/compressedanilist.html" class="header-logo")
	.header-navbar
		a(href="../../../01 html/compressedanilist.html") HOME
		a(href="../../../01 html/animelist.html" id="activenav") ANIMELIST




















































