.info-container
	.info-detail <span>Titles:</span>  The Radio Wave-Like Girlfriend, Electromagnetic Girlfriend , 電波的な彼女

	.info-detail <span>Episodes:</span> 2 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span> Feb 4, 2009 to Dec 4, 2009

	.info-detail <span>Premiered:</span> Not Sure

	.info-detail <span>Studios:</span> Brain's Base

	.info-detail <span>Genres:</span> Mystery, School, Thriller





























