.info-container
	.info-detail <span>Titles:</span> Steins;Gate , シュタゲ , シュタインズ・ゲート

	.info-detail <span>Episodes:</span> 24 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span> Apr 6, 2011 to Sep 14, 2011

	.info-detail <span>Premiered:</span> Spring 2011

	.info-detail <span>Studios:</span> White Fox

	.info-detail <span>Genres:</span> Sci-Fi, Thriller




























