.info-container
	.info-detail <span>Titles:</span> Working!! , Wagnaria!! , ワーキング!!

	.info-detail <span>Episodes:</span> 13 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span> Apr 4, 2010 to Jun 27, 2010

	.info-detail <span>Premiered:</span> Spring 2010

	.info-detail <span>Studios:</span> A-1 Pictures

	.info-detail <span>Genres:</span> Comedy, Slice of Life

























