.info-container
	.info-detail <span>Titles:</span> Prison School , Kangoku Gakuen

	.info-detail <span>Episodes:</span> 12 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span> Jul 11, 2015 to Sep 26, 2015

	.info-detail <span>Premiered:</span> Summer 2015

	.info-detail <span>Studios:</span> J.C. Staff

	.info-detail <span>Genres:</span> Comedy, Ecchi, Romance, School, Seinen




























