.info-container
	.info-detail <span>Titles:</span>  AnoHana, We Still Don't Know the Name of the Flower We Saw That Day , あの日見た花の名前を僕達はまだ知らない。

	.info-detail <span>Episodes:</span> 11 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span>Apr 15, 2011 to Jun 24, 2011

	.info-detail <span>Premiered:</span>Spring 2011

	.info-detail <span>Studios:</span>A-1 Pictures

	.info-detail <span>Genres:</span>Drama, Slice of Life, Supernatural





























