.info-container
	.info-detail <span>Titles:</span> KonoSuba: God's Blessing on This Wonderful World! , Give Blessings to This Wonderful World! , この素晴らしい世界に祝福を！

	.info-detail <span>Episodes:</span> 10 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span> Jan 14, 2016 to Mar 17, 2016

	.info-detail <span>Premiered:</span> Winter 2016

	.info-detail <span>Studios:</span> Studio Deen

	.info-detail <span>Genres:</span> Adventure, Comedy, Fantasy, Supernatural




























