.info-container
	.info-detail <span>Titles:</span> And you thought there is never a girl online? , Netoge no Yome wa Onnanoko ja Nai to Omotta?

	.info-detail <span>Episodes:</span> 12 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span>Apr 7, 2016 to Jun 23, 2016

	.info-detail <span>Premiered:</span>Spring 2016

	.info-detail <span>Studios:</span>Project No.9

	.info-detail <span>Genres:</span>Comedy, Ecchi, Romance, School






























