.summary-container <span>Summary:</span> Hideki Nishimura plays the massively multiplayer online role-playing game Legendary Age under the alias Rusian. One day, after he proposes online to a girl who says that she is a man, Hideki swears off online marriages. Two years later, the persistence of Ako Tamaki, another Legendary Age player who is in the same guild as him, wore him down, and he accepted her in-game marriage offer. When he finally meets up with the rest of his guild members in the real world, he is shocked to discover that not only are they all actually girls, but that they attend the same school as him.


































