.info-container
	.info-detail <span>Titles:</span>  Death Note , デスノート

	.info-detail <span>Episodes:</span> 37 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span> Oct 4, 2006 to Jun 27, 2007

	.info-detail <span>Premiered:</span> Fall 2006

	.info-detail <span>Studios:</span> Madhouse

	.info-detail <span>Genres:</span> Mystery, Police, Psychological, Supernatural, Thriller





























