.info-container
	.info-detail <span>Titles:</span> My Teen Romantic Comedy SNAFU

	.info-detail <span>Episodes:</span> 13 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span> Apr 5, 2013 to Jun 28, 2013

	.info-detail <span>Premiered:</span> Spring 2013

	.info-detail <span>Studios:</span> Brain's Base

	.info-detail <span>Genres:</span> Comedy, Romance, School




























