doctype html
html( lang= "en-US" )

	head
		meta( charset = "UTF-8")
		meta( name= "viewport" content= "width=device-width, initial-scale=1.0")
		title Working! - Brotherhood - MyAnimelist
		link(rel="icon" type="image/png" href="../04 img/00 global/favicon.png")
		link( href='https://fonts.googleapis.com/css?family=Fira+Sans:700,400,500' rel='stylesheet' type='text/css' )
		link( type= "text/css" rel= "stylesheet"  href= "../../../02 css/main.css")

	body

		include information jade/01 header
		include information jade/02 hero
		include information jade/03 information
		include information jade/04 summary
		include information jade/05 rating
		include information jade/99 footer



