.info-container
	.info-detail <span>Titles:</span> Angel Beats! , Angel Beats!（エンジェルビーツ）

	.info-detail <span>Episodes:</span> 13 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span>Apr 3, 2010 to Jun 26, 2010

	.info-detail <span>Premiered:</span>Spring 2010

	.info-detail <span>Studios:</span>P.A. Works

	.info-detail <span>Genres:</span>Action, Comedy, Drama, School, Supernatural





























