.info-container
	.info-detail <span>Titles:</span>  Gintama , Silver Soul , 銀魂

	.info-detail <span>Episodes:</span> 201 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span> Apr 4, 2006 to Mar 25, 2010

	.info-detail <span>Premiered:</span> Spring 2006

	.info-detail <span>Studios:</span> Sunrise

	.info-detail <span>Genres:</span> Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen





























