.info-container
	.info-detail <span>Titles:</span>  Cowboy Bebop , カウボーイビバップ

	.info-detail <span>Episodes:</span> 26 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span>Apr 3, 1998 to Apr 24, 1999

	.info-detail <span>Premiered:</span> Spring 1998

	.info-detail <span>Studios:</span> Sunrise

	.info-detail <span>Genres:</span> Action, Adventure, Comedy, Drama, Sci-Fi, Space





























