.info-container
	.info-detail <span>Titles:</span> Welcome to the NHK , NHK ni Youkoso! , N・H・Kにようこそ！

	.info-detail <span>Episodes:</span> 24 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span> Jul 10, 2006 to Dec 18, 2006

	.info-detail <span>Premiered:</span> Summer 2006

	.info-detail <span>Studios:</span> Gonzo

	.info-detail <span>Genres:</span> Comedy, Drama, Psychological, Romance

























