.info-container
	.info-detail <span>Titles:</span> Soredemo Machi wa Mawatteiru , And Yet The Town Moves , SoreMachi , それでも町は廻っている

	.info-detail <span>Episodes:</span> 12 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span> Oct 8, 2010 to Dec 24, 2010

	.info-detail <span>Premiered:</span> Fall 2010

	.info-detail <span>Studios:</span> Shaft, Diomedea, Doga Kobo

	.info-detail <span>Genres:</span> Comedy, Slice of Life




























