.info-container
	.info-detail <span>Titles:</span>  Golden Boy , ゴールデンボーイ

	.info-detail <span>Episodes:</span> 6 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span> Oct 27, 1995 to Jun 28, 1996

	.info-detail <span>Premiered:</span> Not Sure

	.info-detail <span>Studios:</span> APPP

	.info-detail <span>Genres:</span> R+ - Mild Nudity





























