.info-container
	.info-detail <span>Titles:</span> Samurai 7 , Samurai Seven , サムライセブン
	.info-detail <span>Episodes:</span> 26 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span> Jun 12, 2004 to Dec 25, 2004

	.info-detail <span>Premiered:</span> Summer 2004

	.info-detail <span>Studios:</span> Gonzo

	.info-detail <span>Genres:</span> Historical, Mecha, Samurai, Sci-Fi




























