.info-container
	.info-detail <span>Titles:</span> One Outs , ONE OUTS Nobody wins, but I! , ワンナウツ

	.info-detail <span>Episodes:</span> 25 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span> Oct 8, 2008 to Apr 1, 2009

	.info-detail <span>Premiered:</span> Fall 2008

	.info-detail <span>Studios:</span> Madhouse

	.info-detail <span>Genres:</span> Psychological, Seinen, Sports




























