.info-container
	.info-detail <span>Titles:</span> Overlord , オーバーロード

	.info-detail <span>Episodes:</span> 13 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span> Jul 7, 2015 to Sep 29, 2015

	.info-detail <span>Premiered:</span> Summer 2015

	.info-detail <span>Studios:</span> Madhouse

	.info-detail <span>Genres:</span> Action, Adventure, Fantasy, Game, Magic, Supernatural




























