.footer-contacts
	.footer-contacts-intro ADD ME ON SOCIAL MEDIA
	a(href="#" class="fbicon")
	a(href="#" class="malicon")
	a(href="#" class="yticon")
.footer-container
	.footer-image

























































