.info-container
	.info-detail <span>Titles:</span> Bakemonogatari , Ghostory , 化物語

	.info-detail <span>Episodes:</span> 15 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span> Jul 3, 2009 to Jun 25, 2010

	.info-detail <span>Premiered:</span> Summer 2009

	.info-detail <span>Studios:</span> Shaft

	.info-detail <span>Genres:</span> Mystery, Romance, Supernatural, Vampire




























