.info-container
	.info-detail <span>Titles:</span>  Blue Literature , Aoi Bungaku Series , 青い文学シリーズ

	.info-detail <span>Episodes:</span> 12 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span>Oct 11, 2009 to Dec 27, 2009

	.info-detail <span>Premiered:</span>Fall 2009

	.info-detail <span>Studios:</span>Madhouse

	.info-detail <span>Genres:</span>Drama, Historical, Psychological, Seinen, Thriller





























