.summary-container <span>Summary:</span> The series consists of adaptations of six modern classics of Japanese literature: Osamu Dazai's No Longer Human (Ningen Shikkaku) & Run, Melos! (Hashire, Melos!), Natsume Soseki’s Kokoro, Ryunosuke Akutagawa’s Hell Screen (Jigoku Hen) & The Spider's Thread (Kumo no Ito), and Ango Sakaguchi's In the Forest, Under Cherries in Full Bloom (Sakura no Mori no Mankai no Shita).


































