.info-container
	.info-detail <span>Titles:</span> Yondemasu yo, Azazel-san. (2011) , You're Being Summoned, Azazel , よんでますよ、アザゼルさん。

	.info-detail <span>Episodes:</span> 13 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span> Apr 8, 2011 to Jul 1, 2011

	.info-detail <span>Premiered:</span> Spring 2011

	.info-detail <span>Studios:</span> Production I.G

	.info-detail <span>Genres:</span> Comedy, Demons, Supernatural

























