.info-container
	.info-detail <span>Titles:</span> TThe World God Only Knows , Kami nomi zo Shiru Sekai , Kaminomi , 神のみぞ知るセカイ

	.info-detail <span>Episodes:</span> 12 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span> Oct 7, 2010 to Dec 23, 2010

	.info-detail <span>Premiered:</span> Fall 2010

	.info-detail <span>Studios:</span> Manglobe

	.info-detail <span>Genres:</span> Comedy, Harem, Romance, Shounen, Supernatural


























