.info-container
	.info-detail <span>Titles:</span>  Fate/Zero , フェイト/ゼロ

	.info-detail <span>Episodes:</span> 13 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span> Oct 2, 2011 to Dec 25, 2011

	.info-detail <span>Premiered:</span> Fall 2011

	.info-detail <span>Studios:</span> ufotable

	.info-detail <span>Genres:</span> Action, Fantasy, Supernatural





























