.info-container
	.info-detail <span>Titles:</span> Samurai Champloo , サムライチャンプルー

	.info-detail <span>Episodes:</span> 26 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span> May 20, 2004 to Mar 19, 2005

	.info-detail <span>Premiered:</span> Spring 2004

	.info-detail <span>Studios:</span> Manglobe

	.info-detail <span>Genres:</span> Action, Adventure, Comedy, Historical, Samurai, Shounen




























