.info-container
	.info-detail <span>Titles:</span>  Hunter x Hunter (2011) , HxH (2011)

	.info-detail <span>Episodes:</span> 148 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span> Oct 2, 2011 to Sep 24, 2014

	.info-detail <span>Premiered:</span> Fall 2011

	.info-detail <span>Studios:</span> Madhouse

	.info-detail <span>Genres:</span> Action, Adventure, Shounen, Super Power





























