.info-container
	.info-detail <span>Titles:</span> Shigurui: Death Frenzy , Crazy for Death , シグルイ

	.info-detail <span>Episodes:</span> 12 Episodes

	.info-detail <span>Seasons:</span> 1 Season

	.info-detail <span>Status:</span> Completed

	.info-detail <span>Airing Date:</span> Jul 19, 2007 to Oct 11, 2007

	.info-detail <span>Premiered:</span> Summer 2007

	.info-detail <span>Studios:</span> Madhouse

	.info-detail <span>Genres:</span> Action, Drama, Historical, Martial Arts, Samurai, Seinen




























